body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
     background:linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.main{
    margin:50px 10px;
    width:350px;
    height:500px;
    overflow:hidden;
    border-radius:10px;
    box-shadow:5px 20px 50px #000;
    
   background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);


}
#chk{
    display: none;
    
}
.signup{

    position: relative;
    width:100%;
    height:100%;
}
label{
    color:#fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin:60px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width:60%;
    height:20px;
    background: #fff;
    justify-content: center;
    display: flex;
    margin:20px auto;
    padding:10px;
    border:none;
    outline: none;
    border-radius: 5px;
}
button{
    width:60%;
    height:40px;
    margin:10px auto;
    justify-content: center;
    display: block;
    color:ivory;
    background-color: #7ee8fa;
background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border:none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    
}
button:hover{
   background-color: #20bf55;
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

}
#google{
    width:67%;
    height:40px;
    margin:10px auto;
    justify-content: center;
    display: block;
    color:ivory;
    background-color: #42378f;
background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border:none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
.login{
    height:500px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #17557C;

    transform: scale(.76);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform:scale(1.1);
}
#chk:checked ~ .signup label{
    transform:scale(.6)
}
